<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style_edit.css') }}">
        <title>Редактирование пользователя</title>
    </head>
    <div class="container">
        <form action="{{ url_for('patch_user', id=user.id) }}" method="post">
            <div class="row">
                <div class="col-25">
                    <label>Name</label>
                </div>
                <div class="col-75">
                    <input type="text" name="name" value="{{ user.name }}">
                </div>
            </div>
            {% if errors %}
                <div>{{ errors.name }}</div>
            {% endif %}
            <div class="row">
                <div class="col-25">
                    <label>Email</label>
                </div>
                <div class="col-75">
                    <input type="email" name="email" value="{{ user.email }}">
                </div>
            </div>
            {% if errors %}
                <div>{{ errors.email }}</div>
            {% endif %}
            <div class="row">
                <input type="submit" value="Update">
            </div>
        </form>
        <form action="{{ url_for('deleting_user', id=user.id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete user? This action cannot be undone.');">
            <input type="submit" value="Remove">
        </form>
    </div>